{{include './common/header.html'}}
<h2 class="text-center">文章列表</h2>
<div class="container">
    <div class="list-group">
        {{each article}}
        <a href="/article/info/{{$value.id}}" class="list-group-item">
            <span class="badge" style="background-color: cyan">作者的昵称:{{$value.nickname}}</span>
            <span class="badge" style="background-color: #FC9D1D">创建时间:{{$value.ctime}}</span>
            {{$value.title}}
        </a>
        {{/each}}
    </div>
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            {{if currentPage==1}}
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&laquo;</span>
                 </span>
            </li>
            {{else}}
            <li>
                <a href="/?page=<%= currentPage - 1 < 1 ? 1 : currentPage - 1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{/if}}
            <% for (var i = 1; i <= totalPage; i++) { %>
            <li class="<%= currentPage == i ? 'active' : '' %>">
                <a href="/?page=<%= i %>"><%= i %></a>
            </li>
            <% } %>
            {{if currentPage==totalPage}}
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&laquo;</span>
                 </span>
            </li>
            {{else}}
            <li>
                <a href="/?page=<%= currentPage + 1 > totalPage ? totalPage : currentPage + 1 %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{/if}}

        </ul>
    </nav>
</div>
{{include './common/footer.html'}}
